html, body{
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content {
    flex: 1 0 auto;
}

.header {
    background-color: blue;
    height: 200px;
}
.base {
    background-color: yellow;
    height: 100px;
}
.footer {
    flex: 0 0 auto;
    background-color:black;
    height: 200px;
}