*{
    box-sizing: border-box;
}
body{
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 400px;
}
.square{
    width: 20px;
    height: 20px;
    background-color: orange;
    margin: 4px;
    box-shadow: 0 0 5px yellow;
    transition: 1s ease-in-out;
}
.square:hover {
    transition-duration: 0s;
}