$text: #546e7a;

html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $text; 
}
.container{
    min-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.search{
    background-image: url(../images/search-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
    &__inner{
        padding: 155px 0 100px;
        color: #fff;
        text-align: center;
        &-title{
            margin-bottom: 10px;
            font-size: 48px;
            font-weight: 700;
            line-height: 72px;
        }
        &-text{
            margin-bottom: 50px;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
        }
        &-form{
            max-width: 670px;
            margin: 0 auto;
            position: relative;
            input{
                display: block;
                width: 100%;
                box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
                border-radius: 4px;
                height: 56px;
                border: none;
                outline: none;
                font-size: 14px;
                font-weight: 500;
                padding-left: 25px;
                padding-right: 60px;
                &::placeholder{
                    color: #90a4ae;
                    font-weight: 500;
                }
            }
            button{
                position: absolute;
                border: none;
                outline: none;
                background-color: transparent;
                top: 18px;
                right: 16px;
            }
        }
    }
}