.header {
    background-image: url(../images/header_background_img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
}
.header__content {
    max-width: 120px;
    padding: 0 24px;
}
.header__about_us {
    display: none;
    padding: 15px 0 15px;
    background-color: rgb(239, 173, 24);
    background-size: cover;
    width: 100%;
    justify-content: center;
}
.header__about_us_text {
    display: flex;
    max-width: 1152px;
}
.header__about_us_contacts {
}
.header__navigation {
    padding: 30px 0;
    display: flex;
}
.header__navigation_photo {
}
.header__navigation_button {
    /* width: 24px;
    height: 16px;
    padding: 12px 8px; */
    background-color: rgb(255, 190, 55);
}
.navigation-burger {
}
.header__navigation_svg {
    display: block;
    max-width: 100%;
}
.header__navigation_section {
    display: none;
}
.header__social_media {
    display: none;
}
.header__social_media_img {
    width: 32px;
    height: 32px;
    background-color: #e7272d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__banner {
    padding-top: 100px;
}
.header__banner_name {
    font-size: 16px;
    color: rgb(231, 39, 45);
}
.header__banner_slogan {
    margin-top: 20px;
    font-size: 56px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: left;
}
.header__banner_text {
    color: rgb(69, 69, 69);
    font-size: 20px;
    margin-top: 35px;
    font-weight: 700;
    text-align: left;
}
.header__contact {
    padding-bottom: 90px;
}
.header__contact_button {
    margin-top: 50px;
    padding: 16px 28px;
    border-radius: 25px;
    background-color: red;
    color: white;
    border: 0;
}
.header__contact_phone {
    padding: 15px 0;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.header__contact_img {
    font-size: 17px;
    width: 50px;
    height: 50px;
}
.header__contact_number {
    padding-left: 30px;
}
@media (min-width: 992px) {
    .header__about_us {
        display: flex;
        justify-content: center;
    }
    .header__about_us_text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }
    .header__navigation {
        display: flex;
        justify-content: space-between;
    }
    .header__navigation_section {
        display: flex;
        flex-direction: row;
        margin: 10px 17px;
    }
    .header__social_media {
        display: flex;
        flex-direction: row;
    }
}
@media (max-width: 990px) {
    body.lock {
        overflow: hidden;
    }
    .navigation-logo {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        z-index: 10;
    }
    .navigation-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        padding: 12px;
        cursor: pointer;
        z-index: 5;
    }
    .navigation-burger span,
    .navigation-burger::before,
    .navigation-burger::after {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: rgb(0, 0, 0);
        transition: all 0.5s ease-in-out;
    }
    .navigation-burger span {
        transform: scale(1);
    }
    .navigation-burger::before,
    .navigation-burger::after {
        content: " ";
    }
    .navigation-burger::before {
        top: 0;
    }
    .navigation-burger::after {
        bottom: 0;
    }
    .navigation-burger.active span {
        transform: scale(0);
    }
    .navigation-burger.active::before {
        top: 50%;
        transform: rotate(-45deg);
    }
    .navigation-burger.active::after {
        bottom: 40%;
        transform: rotate(45deg);
    }
    .container-section {
        position: relative;
    }
    .navigation-wrapper {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e7272d;
        z-index: 2;
        padding: 15px 24px 50px 24px;
        transition: top 0.3s ease-in 0.1s;
        overflow: hidden;
        margin: auto;
    }
    .navigation-wrapper.active {
        top: 0;
    }
    .navigation.active {
        top: 0;
    }
    .navigation-pages {
        position: relative;
        font-size: 0.92rem;
        font-weight: 700;
        line-height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
        z-index: 10;
        padding-top: 100px;
    }
}
body
> header
> section
> div
> nav
> div.navigation-wrapper.active
> div.navigation-pages
> a {
    color: blue;
    opacity: 0.8;
}
body
> header
> section
> div
> nav
> div.navigation-wrapper.active
> div.navigation-pages
> a:hover {
    color: green;
}
.navigation-pages a:hover {
    color: aqua;
}
.navigation-social {
    position: relative;
    min-width: 172px;
    max-width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.navigation-social img {
    max-width: 28px;
    border-radius: 0.4rem;
}
@media (min-width: 480px) {
    .container-top_flex {
        display: flex;
        flex-direction: column;
        max-width: 431px;
    }
}
@media (min-width: 768px) {
    .banner-bg {
        min-height: 983px;
    }
    .container-top_flex {
        max-width: 785px;
    }
}
@media ( min-width: 991px) {
    .container-top_flex {
        max-width: 994px;
        margin: auto;
    }
    .navigation-burger {
        display: none;
    }
    .navigation {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }
    .navigation-pages,
    .navigation-social {
        display: flex;
    }
    .banner-bg {
    min-height: calc(100vh - 79px);
    }

    .navigation .navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    }
    .navigation-pages {
        font-size: 0.92rem;
        font-weight: 700;
        color: darkblue;
        min-width: 480px;
        display: flex;
        justify-content: space-around;
        height: auto;
    }
    .navigation-pages a {
        position: relative;
        font-size: 0.91rem;
        color: darksalmon;
        font-weight: 700;
        text-decoration: none;
        line-height: 1.5rem;
    }
    .navigation-pages a:hover  {
        color: green;
        cursor: pointer;
    }
    .navigation-pages a:after {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 3px;
        border-radius: 0.1rem;
        background-color:darkorchid;
        transition: width 0.2s ease-in;
    }
    .navigation-pages a:hover:after {
        width: 100%;
    }
    .navigation-social {
        min-width: 172px;
        display: flex;
        justify-content: space-around;
    }
    
    .navigation-social img {
        max-width: 28px;
        border-radius: 0.4rem;
    }
    .navigation-social a:hover {
        max-width: 32px;
        border: 1px solid rgb(29, 9, 147);
        border-radius: 0.2rem;
        box-shadow: 0 0 2px purple;
        transform: scale(2);
    }
}