.main {
    width: 900px;
    border: 1px solid red;
    margin: auto;
    text-align: center;
}

.clearfix::after, .clearfix::before {
    content: '';
    display: block;
    clear: both;
}
.header {
    height: 150px;
    background: pink;
}
.box {
    height: 500px;
    width: 300px;
    float: left;
}
.left {
    background: yellow;
}
.center {
    
    background: green;
}

.right {
    
    background: violet;
}

.footer {
    height: 100px;
    background: blue;
}