body{
    /* background-color: #000; */
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    background-image: url(../images/bg-top.png);
    /* margin-top: -22px; */
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.header__container{
    text-align: center;
}
.header__name{
font-family: 'Roboto', sans-serif;
color: #fff;
font-size: 95px;
font-weight: 700;
margin-top: 0;
padding-top: 45px;
}
.header__skill{
    font-family: 'Open Sans', sans-serif;
    color: #78bef5;
    text-transform: uppercase;
    font-size: 43px;
    margin-top: 0;
    margin-bottom: 35px;
    font-weight: 400;
}
.header__contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-top: 20px solid #e7e7e7;
    border-bottom: 20px solid #e7e7e7;
    height: 145px;
    font-family: 'Open Sans', sans-serif;
    color: #626676;
    font-size: 28px;
    font-weight: 600;
}
.header__contacts-item{
    margin: auto;
    position: relative;
    padding-left: 80px;
}
.item-phone{
    position: absolute;
    left: 0;
    top: -5px;
}
.item-adress{
    position: absolute;
    left: 0;
    top: -5px;
}.item-email{
    position: absolute;
    left: 0;
    top: -5px;
}.item-site{
    position: absolute;
    left: 0;
    top: -5px;
}
.header__img{
    height: 350px;
    border-radius: 50%;
    margin: 40px 0 60px;
    border: 20px solid #e7e7e7;
}
.container {
    max-width: 1965px;
    margin: 0 auto;
}
.timelines__inner {
}
.timelines__inner-work {
    max-width: 755px;
}
.timelines__title {
    font-size: 51px;
    color: rgb(44,169,240);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.938;
    margin-bottom: 50px;
}
.timelines__item {
}
.item +.item{
    margin-top: 115px;
}
.item__title {
    font-size: 37.5px;
    font-family: "Roboto Slab", serif;
    color: rgb(45,49,65);
    text-transform: uppercase;
    margin-bottom: 30px;
}
.item__spec {
    display: flex;
    justify-content: start;
    align-items: baseline;
    font-family: "Open Sans",sans-serif;
    font-size: 25px;
    color: rgb(139, 144, 163);
    line-height: 1;
    font-weight: 400;
    margin-bottom: 45px;

}
.item__spec-place, .item__spec-period{
    padding-left: 50px;
    margin-right: 65px;
    position: relative;
}
.item__spec-place span::before {
    content: '';
    width: 29px;
    height: 29px;
    background-image: url(../images/1.svg);
    position: absolute;
    left: 0;
}
.item__spec-period span::before {content: '';
    width: 29px;
    height: 29px;
    background-image: url(../images/2.svg);
    position: absolute;
    left: 0;
}
.item__discribe {
    font-size: 33px;
    font-family: "Open Sans",sans-serif;
    color: rgb(45, 49, 65);
    line-height: 1.375;
    font-weight: 300;
}
.timelines__inner-edu {
}